nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  /* This section caused my a tags to float to the right. */ 
  a {
    /* text-align: right;*/
    /* Trying to get my text split here but looks like below float right also reorderd my nav list */
    float: right;
  }
  
  nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #99602bec (custom brown/gold) on hover */
  nav a:hover {
    background-color: #99602bec;
  }
  
  /* Used code above to match up with my nav bar. I pulled this code from w3schools. Only thing I changed was the float*/
  /* This section of code is tied to my index.html file */
  .name {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Used this */
  header {
    font-size: 2rem;
  }
  
  .homeh2 {
    font-family: cursive;
  }